.careerBanner {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('/assets/AboutBanner.png'); /* Change to your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: fill;
}

.animated-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.careerBanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.careerBanner-content {
  color: rgb(244, 245, 245);
  padding: 0 20px;
  max-width: 800px;
}

.careerBanner-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.careerBanner-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.animated-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .careerBanner-title {
    font-size: 2.2rem;
  }

  .careerBanner-subtitle {
    font-size: 1rem;
  }
}
